@(page: Page[Searchable, (org.activiti.engine.repository.ProcessDefinition, org.activiti.engine.repository.Deployment)])

@main("workflow list") {
    
    <h1>@Messages("workflow.list.title")</h1>

	<div class="row-fluid">
    <div class="span10">
        
        <form>
      	  <div class="input-append">
		    <input type="text" class="span10" name="f" value="@page.criteria.filter">
		    <button type="submit" class="btn">Filter by name</button>
		    @page.input("p")
		  </div>
        </form>
        
    </div>
    <div class="span2">
    	<select class="span10 pull-right" onchange="window.location.href=this.options[this.selectedIndex].value">
			@Seq(5, 10, 20).map { size =>
				<option value="@page.sizeLink(size)" @if(page.size==size){selected}>@size per page</option>
			}
		</select>
    </div>
    </div>
    
    @if(page.hasEntries){
        
        <table class="table table-striped table-hover table-bordered">
           <thead>
             <tr>
               <th class="col1 header @page.sortClass(1)">
    		     <a href="@page.sortLink(1)">ID</a>
			   </th>
               <th class="col2 header @page.sortClass(2)">
    		     <a href="@page.sortLink(2)">Name</a>
			   </th>
               <th class="col3 header @page.sortClass(3)">
    		     <a href="@page.sortLink(3)">Key</a>
			   </th>
               <th class="col4">
                 Description
               </th>
               <th class="col5 header @page.sortClass(4)">
    		     <a href="@page.sortLink(4)">Deployment Time</a>
			   </th>
             </tr>
           </thead>
           <tbody>
             @page.entries.map { 
               case (proDef, deploy) => {
                 <tr>
                   <td><a href="">@proDef.getId</a></td>
                   <td>@proDef.getName</td>
                   <td>@proDef.getKey</td>
                   <td>@proDef.getDescription</td>
                   <td>@deploy.getDeploymentTime</td>          
                 </tr>
               }
             }
           </tbody>
        </table>

        @helper.paginator(page)
        
    } else {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }   

}