@(user: User)(implicit flash: play.api.mvc.Flash)

@main("View user") {

	<ul class="breadcrumb">
	  <li><a href="@routes.User.list()">User Browse</a> 
	  <span class="divider">/</span></li>
	  <li class="active">User View</li>
	</ul>

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

	<dl class="dl-horizontal">
	    <dt>Name</dt>
	    <dd>@user.username</dd>
	    <dt>Email</dt>
	    <dd>@user.email</dd>
	</dl>

	<div class="form-actions">
	    <a href="@routes.User.edit(user.id.get)" class="btn btn-primary">Edit</a>
	</div>

}